<a href="https://colab.research.google.com/github/walter0511/progra_III_2025/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo")
print("No estoy listo para este ciclo")

Hola Mundo
No estoy listo para este ciclo

In [ ]:
 nombre = "Walter Benavides"
 edad = 5
 print (nombre, edad)

 edad = "cinco"
 print ("tu edad: ", edad)

Walter Benavides 5
tu edad:  cinco

In [ ]:
num1 = 5
num2 = 8.9
suma = num1 + num2
print ("la suma es: ", suma)

la suma es:  13.9

In [ ]:
num1 = float(input("num1: "))
num2 = float(input("num2: "))
suma = num1 + num2
print ("la suma es:", suma)

num1: 2
num2: 3
la suma es: 5.0

In [ ]:
num1 = float(input("num1: "))
num2 = float(input("num2: "))
resta = num1 - num2
print ("la resta es:", resta)

num1: 2
num2: 3
la resta es: -1.0

TIPOS DE DATOS DE PYTHON

In [ ]:
#entero
num1 = 6
print(num1, "Esto es un numero entero")
print (str (num1) + " Esto es un numero entero")

#decimal
num2 = 7.5
print(num2, "Esto es un numero decimal")

#Booleano
esMayor = True
print(esMayor, "Esto es un valor booleano")

#cadena
nombre = "Walter Benavides"
print(nombre, "Esto es una cadena")

print (nombre,"Letra inicial", nombre[0],"Un valor especifico", nombre[6],"Rango", nombre [0:4],"Comenzar desde el final", nombre[-1])
print ( nombre[5:len(nombre)], nombre[:4] )
print (type(nombre))

6 Esto es un numero entero
6 Esto es un numero entero
7.5 Esto es un numero decimal
True Esto es un valor booleano
Walter Benavides Esto es una cadena
Walter Benavides Letra inicial W Un valor especifico   Rango Walt Comenzar desde el final s
r Benavides Walt
<class 'str'>

In [ ]:
#Fecha
from datetime import datetime, date, time
fecha = datetime.now()
print(fecha, fecha.date(), fecha.time())
print(type(fecha))

fechapersonalizada = date(2025,8,1)
print(fechapersonalizada)

fecha = "2025-08-08"
fecha = datetime.strptime(fecha, "%Y-%m-%d")
print(fecha)

print( fecha.strftime("%d/%m/%Y"), "Regresamos a clases")

fechaNac = input("Dime tu fecha de nacimiento en formato d-m-Y: ")
fechaNac = datetime.strptime(fechaNac, "%d-%m-%Y")
print(fechaNac)

2025-07-28 14:06:31.410682 2025-07-28 14:06:31.410682
<class 'datetime.datetime'>
2025-08-01
2025-08-08 00:00:00
08/08/2025 Regresamos a clases
Dime tu fecha de nacimiento en formato d-m-Y: 07-11-2005
2005-11-07 00:00:00

FUNCIONES EN PYTHON

In [ ]:
def suma(num1, num2):
  return num1 + num2

In [ ]:
print("La suma de 5 + 8 = ", suma(5,8))

La suma de 5 + 8 =  10.0

In [ ]:
num1 = float(input("num1: "))
num2 = float(input("num2: "))
respuesta = suma(num1,num2)
print ("la suma es:", respuesta)

num1: 2
num2: 3
la suma es: 5.0

In [ ]:
def resta(num1, num2):
  return num1 - num2

num1 = float(input("ingrese el primer numero: "))
num2 = float(input("ingrese el segundo numero: "))
respuesta = resta(num1,num2)
print ("la resta es:", respuesta)

ingrese el primer numero: 2
ingrese el segundo numero: 2
la resta es: 0.0

In [ ]:
#Hacer un ejercicios e python haciendo uso de las funciones de usuario, que convierta grados celcius a farenheit.

In [ ]:
def celciusFarenheit(c):
  return c*1.8 + 32
c = int (input("Grados c: "))
f = celciusFarenheit(c)
print("F:", f)

Grados c: 38
F: 100.4

In [ ]:
#Hacer un ejercicios e python haciendo uso de las funciones de usuario, que convierta grados farenheit a celcius.

In [ ]:
def FarenheitCelcius(f):
  return (f-32) * 5/9
f = float(input("Grados f: "))
c = FarenheitCelcius(f)
print("C:", c)

Grados f: 100.4
C: 38.0

In [ ]:
#Hacer un ejercicios e python haciendo uso de las funciones de usuario, que convierta grados celcius a Kalvin

In [ ]:
def CelciusKalvin(c):
  return (c + 273.15)
c = float(input("Grados c: "))
k = CelciusKalvin(c)
print("K:", k)

Grados c: 32
K: 305.15

In [ ]:
 #hacer ejercicio de python haciendo uso de funciones de usuario, que calcule
 #el sueldo de u empleado, segun el numero de hrs trabajadas y el valor por hora

In [ ]:
def sueldo(numHrs, valorXhr):
  sueldo = numHrs * valorXhr * 30
  return sueldo

In [ ]:
numHrs = float(input("Horas trabajadas: "))
valorXhr = float(input("Valor por hora: "))
sueldo = sueldo(numHrs, valorXhr)
print("Sueldo: ", sueldo)

Horas trabajadas: 5
Valor por hora: 3
Sueldo:  450.0

In [ ]:
 #hacer ejercicio de python haciendo uso de funciones de usuario, que permta elevar un numero a un exponete

In [ ]:
def expoenciacion (b,e):
  return b ** e

b = float(input("Base: "))
e = float(input("Exponente: "))

respuesta = expoenciacion(b,e)
print("El numero: ",b, "elevado a", e,"La respuesta es: ", respuesta)

Base: 8
Exponente: 3
El numero:  8.0 elevado a 3.0 La respuesta es:  512.0

**FUNCIONES ANONIMAS**

In [ ]:
def suma(a,b):
  return a+b

a = float(input("num1: "))
b = float(input("num2: "))

suma = suma(a,b)
print("La suma es: ", suma)

num1: 4
num2: 4
La suma es:  8.0

In [ ]:
A = float(input("num1: "))
B = float(input("num2: "))

sum = lambda A,B: A+B
print( "La suma de", A , "mas b", B, "es igual", sum(A,B) )

num1: 2
num2: 3
La suma de 2.0 mas b 3.0 es igual 5.0

FUNCIONES PRECONSTRUIDAS

In [ ]:
def extraerPrimeraLetra(dia):
  return dia[0]


#map
semana = ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"]

primeraLetraDia = map(lambda dia: dia[0], semana)
print(list(primeraLetraDia))

mayusSemana = map(lambda dia: dia.upper(), semana)
print(list(mayusSemana))

print( list(map(extraerPrimeraLetra, semana)) )

['D', 'L', 'M', 'M', 'J', 'V', 'S']
['DOMINGO', 'LUNES', 'MARTES', 'MIERCOLES', 'JUEVES', 'VIERNES', 'SABADO']
['D', 'L', 'M', 'M', 'J', 'V', 'S']

In [ ]:
numeros = [2,4,6,8,7,9]
potencia = int(input("Potencia: "))
numeroPotencia = map(lambda num: num**potencia, numeros)

print(list(numeroPotencia))

Potencia: 4
[16, 256, 1296, 4096, 2401, 6561]

In [ ]:
ntabla  = int(input("Tabla:"))
numeros = [1,2,3,4,5,6,7,8,9,10]
tabla = map(lambda num: num*ntabla, numeros)

print(list(tabla))

Tabla:2
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
serie = [5,6,9,2,7,8]
pares = filter(lambda num: num%2==0, serie) #% ===> a modulo, obtener el residuo.

print(list(pares))

impares = filter(lambda num: num%2!=0, serie)

print(list(impares))

[6, 2, 8]
[5, 9, 7]

In [ ]:

serieUser = input("Serie: ") # "5,2,8,1" --> serie[0]="5"; serie[1]="2"; etc..
serieUser = serieUser.split(",")

pares = filter(lambda num: int(num)%2==0, serieUser)
impares = filter(lambda num: int(num)%2!=0, serieUser)

print("Pares: ",list(pares))
print("Impares: ", list(impares))

Serie: 3,4,5,6,2,1,5
Pares:  ['4', '6', '2']
Impares:  ['3', '5', '1', '5']

Hacer un ejercicio en python usando la funcion filter y lambda que de una seria de notas introducidas por el usuario, establezca cuantos pasan la materia (>6) y cuantos se quedan (<6).

In [10]:
#reduce
from functools import reduce
numeros = [5,4,9,6,8,2,3]
suma = reduce(lambda num, acum: num+acum, numeros)

sumaPares = reduce(lambda acum, num: acum + num, filter(lambda num: num%2==0, numeros))
sumaPar = reduce(lambda acum, num: acum + num if num%2==0 else acum, numeros,0)

print("La suma es: ", suma)
print("La suma de los pares es: ", sumaPares)
print("Suma Pares: ", sumaPar)

La suma es:  37
La suma de los pares es:  20
Suma Pares:  20

In [2]:

notas = input("Ingrese las notas de los alumnos: ")


try:

    notas = [float(nota.strip()) for nota in notas.split(',')]
    aprobados = list(filter(lambda nota: nota > 6, notas))

    reprobados = list(filter(lambda nota: nota < 6, notas))


    nota_seis = list(filter(lambda nota: nota == 6, notas))

    print("\n--- Resumen de Notas ---")
    print(f"Notas ingresadas: {notas}")
    print(f"Alumnos que aprobaron: {len(aprobados)} (Notas: {aprobados})")
    print(f"Alumnos que reprobaron: {len(reprobados)} (Notas: {reprobados})")

except ValueError:
    print("Error: Asegúrate de ingresar solo números separados por comas.")

Ingrese las notas de los alumnos: 2,3,4,4,5,8,9

--- Resumen de Notas ---
Notas ingresadas: [2.0, 3.0, 4.0, 4.0, 5.0, 8.0, 9.0]
Alumnos que aprobaron: 2 (Notas: [8.0, 9.0])
Alumnos que reprobaron: 5 (Notas: [2.0, 3.0, 4.0, 4.0, 5.0])

In [ ]:
#reduce
from functools import reduce

numeros = [5,4,9,6,8,2,3]
suma = reduce(lambda num, acum: num+acum, numeros)

sumaPares = reduce(lambda num, acum: num+acum, filter(lambda num: num%2==0, numeros))
sumaPar = reduce(lambda num, acum: acum + num if num%2==0 else 0, numeros) #pendiente de revisar...

print("La suma es: ", suma)
print("La suma de los pares es: ", sumaPares)
print("Suma Pares: ", sumaPar)

La suma es:  37
La suma de los pares es:  20
Suma Pares:  13

**TUPLAS**

In [13]:
tupla = (1,2,3,4,5)
#print[0]=1
print ("Tupla:", tupla, "Primer elemento:", tupla[0], "El Numero cinco parece ", tupla.count(5))
print ("Ultimo elemento: ", tupla[-1])
print("Rango: ", tupla [0:5])

Tupla: (1, 2, 3, 4, 5) Primer elemento: 1 El Numero cinco parece  1
Ultimo elemento:  5
Rango:  (1, 2, 3, 4, 5)

In [17]:
import datetime
fecha = datetime.date.today()

semana = ("Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado")
meses = ("","Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre")

dia = fecha.day
mes = fecha.month
year = fecha.year
diaSemana = semana[fecha.isoweekday()]

print(diaSemana, dia, "de", meses[mes], "del", year)
print(fecha, fecha.isoweekday(), diaSemana)
print(dia, mes, year)

Martes 12 de Agosto del 2025
2025-08-12 2 Martes
12 8 2025