<a href="https://colab.research.google.com/github/walter0511/progra_III_2025/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo")
print("No estoy listo para este ciclo")

Hola Mundo
No estoy listo para este ciclo

In [ ]:
 nombre = "Walter Benavides"
 edad = 5
 print (nombre, edad)

 edad = "cinco"
 print ("tu edad: ", edad)

Walter Benavides 5
tu edad:  cinco

In [ ]:
num1 = 5
num2 = 8.9
suma = num1 + num2
print ("la suma es: ", suma)

la suma es:  13.9

In [ ]:
num1 = float(input("num1: "))
num2 = float(input("num2: "))
suma = num1 + num2
print ("la suma es:", suma)

num1: 2
num2: 3
la suma es: 5.0

In [ ]:
num1 = float(input("num1: "))
num2 = float(input("num2: "))
resta = num1 - num2
print ("la resta es:", resta)

num1: 2
num2: 3
la resta es: -1.0

TIPOS DE DATOS DE PYTHON

In [ ]:
#entero
num1 = 6
print(num1, "Esto es un numero entero")
print (str (num1) + " Esto es un numero entero")

#decimal
num2 = 7.5
print(num2, "Esto es un numero decimal")

#Booleano
esMayor = True
print(esMayor, "Esto es un valor booleano")

#cadena
nombre = "Walter Benavides"
print(nombre, "Esto es una cadena")

print (nombre,"Letra inicial", nombre[0],"Un valor especifico", nombre[6],"Rango", nombre [0:4],"Comenzar desde el final", nombre[-1])
print ( nombre[5:len(nombre)], nombre[:4] )
print (type(nombre))

6 Esto es un numero entero
6 Esto es un numero entero
7.5 Esto es un numero decimal
True Esto es un valor booleano
Walter Benavides Esto es una cadena
Walter Benavides Letra inicial W Un valor especifico   Rango Walt Comenzar desde el final s
r Benavides Walt
<class 'str'>

In [ ]:
#Fecha
from datetime import datetime, date, time
fecha = datetime.now()
print(fecha, fecha.date(), fecha.time())
print(type(fecha))

fechapersonalizada = date(2025,8,1)
print(fechapersonalizada)

fecha = "2025-08-08"
fecha = datetime.strptime(fecha, "%Y-%m-%d")
print(fecha)

print( fecha.strftime("%d/%m/%Y"), "Regresamos a clases")

fechaNac = input("Dime tu fecha de nacimiento en formato d-m-Y: ")
fechaNac = datetime.strptime(fechaNac, "%d-%m-%Y")
print(fechaNac)

2025-07-28 14:06:31.410682 2025-07-28 14:06:31.410682
<class 'datetime.datetime'>
2025-08-01
2025-08-08 00:00:00
08/08/2025 Regresamos a clases
Dime tu fecha de nacimiento en formato d-m-Y: 07-11-2005
2005-11-07 00:00:00

FUNCIONES EN PYTHON

In [ ]:
def suma(num1, num2):
  return num1 + num2

In [ ]:
print("La suma de 5 + 8 = ", suma(5,8))

La suma de 5 + 8 =  10.0

In [ ]:
num1 = float(input("num1: "))
num2 = float(input("num2: "))
respuesta = suma(num1,num2)
print ("la suma es:", respuesta)

num1: 2
num2: 3
la suma es: 5.0

In [ ]:
def resta(num1, num2):
  return num1 - num2

num1 = float(input("ingrese el primer numero: "))
num2 = float(input("ingrese el segundo numero: "))
respuesta = resta(num1,num2)
print ("la resta es:", respuesta)

ingrese el primer numero: 2
ingrese el segundo numero: 2
la resta es: 0.0

In [ ]:
#Hacer un ejercicios e python haciendo uso de las funciones de usuario, que convierta grados celcius a farenheit.

In [ ]:
def celciusFarenheit(c):
  return c*1.8 + 32
c = int (input("Grados c: "))
f = celciusFarenheit(c)
print("F:", f)

Grados c: 38
F: 100.4

In [ ]:
#Hacer un ejercicios e python haciendo uso de las funciones de usuario, que convierta grados farenheit a celcius.

In [ ]:
def FarenheitCelcius(f):
  return (f-32) * 5/9
f = float(input("Grados f: "))
c = FarenheitCelcius(f)
print("C:", c)

Grados f: 100.4
C: 38.0

In [ ]:
#Hacer un ejercicios e python haciendo uso de las funciones de usuario, que convierta grados celcius a Kalvin

In [ ]:
def CelciusKalvin(c):
  return (c + 273.15)
c = float(input("Grados c: "))
k = CelciusKalvin(c)
print("K:", k)

Grados c: 32
K: 305.15

In [ ]:
 #hacer ejercicio de python haciendo uso de funciones de usuario, que calcule
 #el sueldo de u empleado, segun el numero de hrs trabajadas y el valor por hora

In [ ]:
def sueldo(numHrs, valorXhr):
  sueldo = numHrs * valorXhr * 30
  return sueldo

In [ ]:
numHrs = float(input("Horas trabajadas: "))
valorXhr = float(input("Valor por hora: "))
sueldo = sueldo(numHrs, valorXhr)
print("Sueldo: ", sueldo)

Horas trabajadas: 5
Valor por hora: 3
Sueldo:  450.0

In [ ]:
 #hacer ejercicio de python haciendo uso de funciones de usuario, que permta elevar un numero a un exponete

In [ ]:
def expoenciacion (b,e):
  return b ** e

b = float(input("Base: "))
e = float(input("Exponente: "))

respuesta = expoenciacion(b,e)
print("El numero: ",b, "elevado a", e,"La respuesta es: ", respuesta)

Base: 8
Exponente: 3
El numero:  8.0 elevado a 3.0 La respuesta es:  512.0

**FUNCIONES ANONIMAS**

In [ ]:
def suma(a,b):
  return a+b

a = float(input("num1: "))
b = float(input("num2: "))

suma = suma(a,b)
print("La suma es: ", suma)

num1: 4
num2: 4
La suma es:  8.0

In [ ]:
A = float(input("num1: "))
B = float(input("num2: "))

sum = lambda A,B: A+B
print( "La suma de", A , "mas b", B, "es igual", sum(A,B) )

num1: 2
num2: 3
La suma de 2.0 mas b 3.0 es igual 5.0

FUNCIONES PRECONSTRUIDAS

In [ ]:
def extraerPrimeraLetra(dia):
  return dia[0]


#map
semana = ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"]

primeraLetraDia = map(lambda dia: dia[0], semana)
print(list(primeraLetraDia))

mayusSemana = map(lambda dia: dia.upper(), semana)
print(list(mayusSemana))

print( list(map(extraerPrimeraLetra, semana)) )

['D', 'L', 'M', 'M', 'J', 'V', 'S']
['DOMINGO', 'LUNES', 'MARTES', 'MIERCOLES', 'JUEVES', 'VIERNES', 'SABADO']
['D', 'L', 'M', 'M', 'J', 'V', 'S']

In [ ]:
numeros = [2,4,6,8,7,9]
potencia = int(input("Potencia: "))
numeroPotencia = map(lambda num: num**potencia, numeros)

print(list(numeroPotencia))

Potencia: 4
[16, 256, 1296, 4096, 2401, 6561]

In [ ]:
ntabla  = int(input("Tabla:"))
numeros = [1,2,3,4,5,6,7,8,9,10]
tabla = map(lambda num: num*ntabla, numeros)

print(list(tabla))

Tabla:2
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
serie = [5,6,9,2,7,8]
pares = filter(lambda num: num%2==0, serie) #% ===> a modulo, obtener el residuo.

print(list(pares))

impares = filter(lambda num: num%2!=0, serie)

print(list(impares))

[6, 2, 8]
[5, 9, 7]

In [ ]:

serieUser = input("Serie: ") # "5,2,8,1" --> serie[0]="5"; serie[1]="2"; etc..
serieUser = serieUser.split(",")

pares = filter(lambda num: int(num)%2==0, serieUser)
impares = filter(lambda num: int(num)%2!=0, serieUser)

print("Pares: ",list(pares))
print("Impares: ", list(impares))

Serie: 3,4,5,6,2,1,5
Pares:  ['4', '6', '2']
Impares:  ['3', '5', '1', '5']

Hacer un ejercicio en python usando la funcion filter y lambda que de una seria de notas introducidas por el usuario, establezca cuantos pasan la materia (>6) y cuantos se quedan (<6).

In [ ]:
#reduce
from functools import reduce
numeros = [5,4,9,6,8,2,3]
suma = reduce(lambda num, acum: num+acum, numeros)

sumaPares = reduce(lambda acum, num: acum + num, filter(lambda num: num%2==0, numeros))
sumaPar = reduce(lambda acum, num: acum + num if num%2==0 else acum, numeros,0)

print("La suma es: ", suma)
print("La suma de los pares es: ", sumaPares)
print("Suma Pares: ", sumaPar)

La suma es:  37
La suma de los pares es:  20
Suma Pares:  20

In [ ]:

notas = input("Ingrese las notas de los alumnos: ")


try:

    notas = [float(nota.strip()) for nota in notas.split(',')]
    aprobados = list(filter(lambda nota: nota > 6, notas))

    reprobados = list(filter(lambda nota: nota < 6, notas))


    nota_seis = list(filter(lambda nota: nota == 6, notas))

    print("\n--- Resumen de Notas ---")
    print(f"Notas ingresadas: {notas}")
    print(f"Alumnos que aprobaron: {len(aprobados)} (Notas: {aprobados})")
    print(f"Alumnos que reprobaron: {len(reprobados)} (Notas: {reprobados})")

except ValueError:
    print("Error: Asegúrate de ingresar solo números separados por comas.")

Ingrese las notas de los alumnos: 2,3,4,4,5,8,9

--- Resumen de Notas ---
Notas ingresadas: [2.0, 3.0, 4.0, 4.0, 5.0, 8.0, 9.0]
Alumnos que aprobaron: 2 (Notas: [8.0, 9.0])
Alumnos que reprobaron: 5 (Notas: [2.0, 3.0, 4.0, 4.0, 5.0])

In [ ]:
#reduce
from functools import reduce

numeros = [5,4,9,6,8,2,3]
suma = reduce(lambda num, acum: num+acum, numeros)

sumaPares = reduce(lambda num, acum: num+acum, filter(lambda num: num%2==0, numeros))
sumaPar = reduce(lambda num, acum: acum + num if num%2==0 else 0, numeros) #pendiente de revisar...

print("La suma es: ", suma)
print("La suma de los pares es: ", sumaPares)
print("Suma Pares: ", sumaPar)

La suma es:  37
La suma de los pares es:  20
Suma Pares:  13

**TUPLAS**

In [ ]:
tupla = (1,2,3,4,5)
#print[0]=1
print ("Tupla:", tupla, "Primer elemento:", tupla[0], "El Numero cinco parece ", tupla.count(5))
print ("Ultimo elemento: ", tupla[-1])
print("Rango: ", tupla [0:5])

Tupla: (1, 2, 3, 4, 5) Primer elemento: 1 El Numero cinco parece  1
Ultimo elemento:  5
Rango:  (1, 2, 3, 4, 5)

In [ ]:
import datetime
fecha = datetime.date.today()

semana = ("Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado")
meses = ("","Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre")

dia = fecha.day
mes = fecha.month
year = fecha.year
diaSemana = semana[fecha.isoweekday()]

print(diaSemana, dia, "de", meses[mes], "del", year)
print(fecha, fecha.isoweekday(), diaSemana)
print(dia, mes, year)

Martes 12 de Agosto del 2025
2025-08-12 2 Martes
12 8 2025

LISTAS

In [ ]:
lista = [5,8,9,4, "Progra III", True, [4,8,9,[8,9,4]]]
print(lista)

[5, 8, 9, 4, 'Progra III', True, [4, 8, 9, [8, 9, 4]]]

In [ ]:
#Hacer un ejercicios en python que otenga la nota final de progra II del computo I, haciendo uso de las listas y de las tuplas
def calcularPromedio(nota, notas):
  return notas[1]*notas[2]+ nota

from functools import reduce

notas = [["Lab1", 10, 0.3],["Lab2", 10,0.3],["Parcial",10,0.4]]
prom = reduce(calcularPromedio, notas, 0)
print("Nota Final: ", prom)

Nota Final:  10.0

In [ ]:
def calcular_nota(notas):
  final =

In [4]:
#Hacer un ejercicio en python que obtenga la nota final de Progra III del computo I,
#donde el usuario va introducir las notas, haciendo uso de las listas y de las funciones.

from functools import reduce

def calcularPromedio(notas):
  return reduce(lambda total, item: total + item[1] * item[2], notas, 0)


notas = []
for i in range(1,4):
  nota = float(input("Act: "+ str(i) + ": "))
  porcentaje = float(input("Porcentaje: "))
  notas.append(["Act. "+ str(i), nota, porcentaje])

prom = calcularPromedio(notas) # Corrected function name
print("Nota Final de C1 ", prom)

Act: 1: 3
Porcentaje: 0.3
Act: 2: 2
Porcentaje: 0.3
Act: 3: 10
Porcentaje: 0.4
Nota Final de C1  5.5

In [5]:
#sort
valores = [5,8,9,1,3,4,7]

print(valores, "Lista original")

valores.sort()
print(valores, "POrdenados de menor a mayor")

valores.reverse()
print(valores, "Ordenados de mayor a menor")

#valores.sort(reverse=True)
#print(valores, "Ordenados de mayor a menor")

[5, 8, 9, 1, 3, 4, 7] Lista original
[1, 3, 4, 5, 7, 8, 9] POrdenados de menor a mayor
[9, 8, 7, 5, 4, 3, 1] Ordenados de mayor a menor

DICCIONARIO-JSON

In [6]:
persona = {
  "codigo": "USIS018804",
  "nombre": "Luis Hernandez",
  "materias": [
    {
      "codigo": 611,
      "nombre": "Programacion I",
      "notas":{
        "c1": {"lab1":8, "lab2":9.9, "parcial":10},
        "c2": {"lab1":7.78, "lab2":6.5, "parcial":8},
        "c3": {"lab1":10, "lab2":9, "parcial":9}
      }
    },
    {
      "codigo": 612,
      "nombre": "Programacion II",
      "notas":{
        "c1": {"lab1":5, "lab2": 7, "parcial":9},
        "c2": {"lab1":9, "lab2": 6, "parcial": 10},
        "c3": {"lab1":10, "lab2": 10, "parcial": 9}
      }
    }
  ]
}
print(persona["nombre"], "->", persona["materias"][0]["nombre"], "-> CI: ",
      persona["materias"][0]["notas"]["c1"],
      persona["materias"][0]["notas"]["c1"]["lab1"]
      )

Luis Hernandez -> Programacion I -> CI:  {'lab1': 8, 'lab2': 9.9, 'parcial': 10} 8

ESTRUCTURAS DE CONTROL

In [7]:
#if
#hacer un ejercicio en python que permita clasificar las edades segun su rango
edad = int(input("Edad: "))
if(edad<0):
  print("Error al ingresar la edad, solo valores positivos.")
elif(edad<=2):
  print("Eres un bebe...")
elif(edad<=11):
  print("Eres un niño...")
elif(edad<18):
  print("Eres un adolescente...")
elif(edad<65):
  print("Eres un adulto responsable...")
elif(edad<85):
  print("Eres un adulto mayor...")
else:
  print("Larga vida...")

Edad: 20
Eres un adulto responsable...

TAREA

In [ ]:
import sys

# =========================================================
# Ejercicios prácticos en Python
# Este código combina los ejercicios originales con un
# sistema de conversores más detallado.
# =========================================================

# =========================================================
# 1. Cálculo de sueldo neto y deducciones
# =========================================================
def calcular_sueldo_neto():
    """
    Pide al usuario un sueldo bruto y calcula las deducciones y el sueldo neto.
    """
    print("\n--- 1. Cálculo de Sueldo y Deducciones ---")
    try:
        sueldo_bruto = float(input("Ingrese el sueldo bruto: "))
    except ValueError:
        print("Entrada inválida. Por favor, ingrese un número.")
        return

    # Tasas de deducción
    tasa_isss = 0.03
    tasa_afp = 0.0625

    # Cálculo de las deducciones
    descuento_isss = sueldo_bruto * tasa_isss
    descuento_afp = sueldo_bruto * tasa_afp

    # Cálculo del ISR (simplificado para el ejemplo)
    if sueldo_bruto > 500:
        descuento_isr = (sueldo_bruto - 500) * 0.10
    else:
        descuento_isr = 0.00

    # Suma de todas las deducciones
    total_deducciones = descuento_isss + descuento_afp + descuento_isr
    sueldo_neto = sueldo_bruto - total_deducciones

    # Impresión de los resultados
    print(f"\nSueldo Bruto: ${sueldo_bruto:,.2f}")
    print("--- Deducciones ---")
    print(f"  Descuento ISSS (3%): ${descuento_isss:,.2f}")
    print(f"  Descuento AFP (6.25%): ${descuento_afp:,.2f}")
    print(f"  Descuento ISR: ${descuento_isr:,.2f}")
    print("--------------------")
    print(f"Total Deducciones: ${total_deducciones:,.2f}")
    print(f"Sueldo Neto: ${sueldo_neto:,.2f}")

# =========================================================
# 2. Cálculo de tarifa por metros de agua
# =========================================================
def calcular_tarifa_agua():
    """
    Pide al usuario el consumo de metros de agua y calcula el costo.
    """
    print("\n--- 2. Tarifa por Consumo de Agua ---")
    try:
        metros_consumidos = int(input("Ingrese el número de metros de agua consumidos: "))
    except ValueError:
        print("Entrada inválida. Por favor, ingrese un número entero.")
        return

    costo_total = 0
    if metros_consumidos <= 18:
        costo_total = 6.00
    elif 19 <= metros_consumidos <= 28:
        exceso = metros_consumidos - 18
        costo_total = 6.00 + (exceso * 0.45)
    else:  # metros_consumidos >= 29
        costo_primeros_18 = 6.00
        costo_siguientes_10 = 10 * 0.45
        costo_hasta_28 = costo_primeros_18 + costo_siguientes_10
        exceso = metros_consumidos - 28
        costo_exceso = exceso * 0.65
        costo_total = costo_hasta_28 + costo_exceso

    print(f"\nConsumo de agua: {metros_consumidos} metros")
    print(f"Valor a pagar: ${costo_total:,.2f}")

# =========================================================
# 3. Cálculo de meses acumulados
# =========================================================
def calcular_meses_acumulados():
    """
    Pide al usuario el número de meses y calcula la suma acumulada.
    """
    print("\n--- 3. Meses Acumulados ---")
    try:
        n_meses = int(input("Ingrese el número de meses a acumular: "))
        if n_meses < 0:
            print("Por favor, ingrese un número de meses positivo.")
            return
    except ValueError:
        print("Entrada inválida. Por favor, ingrese un número entero.")
        return

    acumulado_formula = (n_meses * (n_meses + 1)) // 2

    print(f"\nNúmero de meses: {n_meses}")
    print(f"Acumulado total: {acumulado_formula}")

    print("\n--- Detalle de la tabla de acumulados ---")
    acumulado = 0
    limite_impresion = 15
    for mes in range(1, min(n_meses + 1, limite_impresion + 1)):
        acumulado += mes
        print(f"Mes {mes}: {mes} + acumulado = {acumulado}")
    if n_meses > limite_impresion:
        print("...")
        print(f"Acumulado para el mes {n_meses}: {acumulado_formula}")

# =========================================================
# 4. Sistema de Conversores (Basado en tu código)
# =========================================================
def conversor_universal(nombre_tipo, tasas):
    """
    Función genérica para manejar cualquier tipo de conversión.
    Se basa en una unidad base (la que tiene tasa 1).
    """
    print(f"\n** Conversor de {nombre_tipo.capitalize()} **")

    unidades_disponibles = list(tasas.keys())

    print("Unidades disponibles:")
    for i, unidad in enumerate(unidades_disponibles, 1):
        print(f"{i}. {unidad}")

    try:
        opcion_origen = int(input("Selecciona el número de la unidad de origen: ")) - 1
        opcion_destino = int(input("Selecciona el número de la unidad de destino: ")) - 1

        if 0 <= opcion_origen < len(unidades_disponibles) and 0 <= opcion_destino < len(unidades_disponibles):
            unidad_origen = unidades_disponibles[opcion_origen]
            unidad_destino = unidades_disponibles[opcion_destino]

            valor = float(input(f"Ingresa el valor en {unidad_origen}: "))

            # Convierte el valor de origen a la unidad base (la que tiene tasa 1)
            valor_en_base = valor / tasas[unidad_origen]
            # Y luego de la unidad base a la unidad de destino.
            resultado = valor_en_base * tasas[unidad_destino]

            print(f"{valor:,.2f} {unidad_origen} equivale a {resultado:,.2f} {unidad_destino}")
        else:
            print("Opción no válida. Inténtalo de nuevo.")
    except (ValueError, IndexError):
        print("Entrada no válida. Por favor, ingresa un número.")

def Cmonedas():
    tasas = {
        "Dólar": 1, "Euro": 0.92, "Libra Esterlina": 0.79, "Yen Japonés": 140.00,
        "Dólar Canadiense": 1.35, "Peso Mexicano": 17.15, "Peso Chileno": 950.00,
        "Peso Argentino": 870.00, "Peso Colombiano": 4000.00, "Real Brasileño": 5.20
    }
    conversor_universal("monedas", tasas)

def Cmasa():
    tasas = {
        "Kilogramo": 1, "Gramo": 1000, "Miligramo": 1000000, "Libra": 2.20462, "Onza": 35.274,
        "Tonelada": 0.001, "Stone": 0.157473, "Quilate": 5000, "Dram": 564.383, "Grain": 15432.4
    }
    conversor_universal("masa", tasas)

def Cvolumen():
    tasas = {
        "Litro": 1, "Mililitro": 1000, "Galón": 0.264172, "Cuarto": 1.05669, "Pinta": 2.11338,
        "Taza": 4.22675, "Metro Cúbico": 0.001, "Pie Cúbico": 0.0353147, "Pulgada Cúbica": 61.0237,
        "Onza Fluida": 33.814
    }
    conversor_universal("volumen", tasas)

def Clongitud():
    tasas = {
        "Metro": 1, "Kilómetro": 0.001, "Centímetro": 100, "Milímetro": 1000,
        "Yarda": 1.09361, "Pie": 3.28084, "Pulgada": 39.3701, "Milla": 0.000621371
    }
    conversor_universal("longitud", tasas)

def Calmacenamiento():
    # Corregido: las tasas deben ser múltiplos de 1024, no decimales
    tasas = {
        "Byte": 1,
        "Kilobyte": 1024,
        "Megabyte": 1024 ** 2,
        "Gigabyte": 1024 ** 3,
        "Terabyte": 1024 ** 4,
        "Petabyte": 1024 ** 5,
        "Exabyte": 1024 ** 6,
        "Zettabyte": 1024 ** 7,
        "Yottabyte": 1024 ** 8,
        "Brontobyte": 1024 ** 9
    }
    conversor_universal("almacenamiento", tasas)

def Ctiempo():
    tasas = {
        "Segundo": 1, "Minuto": 60, "Hora": 3600, "Día": 86400,
        "Semana": 604800, "Mes": 2629746, "Año": 31556952,
        "Década": 315569520, "Siglo": 3155695200, "Milenio": 31556952000
    }
    conversor_universal("tiempo", tasas)

def Carea():
    tasas = {
        "Metro Cuadrado": 1, "Kilómetro Cuadrado": 0.000001, "Hectárea": 0.0001, "Pie Cuadrado": 10.7639,
        "Centímetro Cuadrado": 10000, "Milla Cuadrada": 3.86102e-07, "Acre": 0.000247105,
        "Yarda Cuadrada": 1.19599, "Manzana": 0.00069874, "Tarea": 0.0022857
    }
    conversor_universal("area", tasas)

def Cenergia():
    # Corregido: Tasas para convertir a Joule (unidad base = 1)
    tasas = {
        "Joule": 1,
        "Kilojoule": 1000,
        "Caloría": 4.184,
        "Kilocaloría": 4184,
        "Vatio-hora": 3600,
        "Kilovatio-hora": 3600000,
        "Electronvoltio": 1.60218e-19,
        "BTU": 1055.06,
        "Termia": 105506000,
        "Pie-libra": 1.35582
    }
    conversor_universal("energía", tasas)

def menu_conversores():
    """
    Menú de selección para los conversores.
    """
    while True:
        print("\n** Menú de Conversores **")
        print("1. Conversión de monedas")
        print("2. Conversión de masa")
        print("3. Conversión de volumen")
        print("4. Conversión de longitud")
        print("5. Conversión de almacenamiento")
        print("6. Conversión de tiempo")
        print("7. Conversión de área")
        print("8. Conversión de energía")
        print("9. Volver al menú principal")

        opcion = input("opcion: ")

        if opcion == "1":
            Cmonedas()
        elif opcion == "2":
            Cmasa()
        elif opcion == "3":
            Cvolumen()
        elif opcion == "4":
            Clongitud()
        elif opcion == "5":
            Calmacenamiento()
        elif opcion == "6":
            Ctiempo()
        elif opcion == "7":
            Carea()
        elif opcion == "8":
            Cenergia()
        elif opcion == "9":
            return
        else:
            print("Opción no válida. Inténtalo de nuevo.")

def menu_principal():
    """
    Menú principal del programa.
    """
    while True:
        print("\n=============================================")
        print("         Menú de Ejercicios en Python        ")
        print("=============================================")
        print("1. Calcular sueldo neto y deducciones")
        print("2. Calcular tarifa por consumo de agua")
        print("3. Calcular meses acumulados")
        print("4. Usar el sistema de conversores")
        print("5. Salir del programa")
        print("=============================================")

        opcion = input("Por favor, seleccione una opción (1-5): ")

        if opcion == "1":
            calcular_sueldo_neto()
        elif opcion == "2":
            calcular_tarifa_agua()
        elif opcion == "3":
            calcular_meses_acumulados()
        elif opcion == "4":
            menu_conversores()
        elif opcion == "5":
            print("Saliendo del programa...")
            sys.exit()
        else:
            print("Opción no válida. Por favor, ingrese un número del 1 al 5.")

# =========================================================
# Ejecución del programa
# =========================================================
if __name__ == "__main__":
    menu_principal()

=============================================
         Menú de Ejercicios en Python
=============================================
1. Calcular sueldo neto y deducciones
2. Calcular tarifa por consumo de agua
3. Calcular meses acumulados
4. Usar el sistema de conversores
5. Salir del programa
=============================================
Por favor, seleccione una opción (1-5): 4

** Menú de Conversores **
1. Conversión de monedas
2. Conversión de masa
3. Conversión de volumen
4. Conversión de longitud
5. Conversión de almacenamiento
6. Conversión de tiempo
7. Conversión de área
8. Conversión de energía
9. Volver al menú principal
opcion: 8

** Conversor de Energía **
Unidades disponibles:
1. Joule
2. Kilojoule
3. Caloría
4. Kilocaloría
5. Vatio-hora
6. Kilovatio-hora
7. Electronvoltio
8. BTU
9. Termia
10. Pie-libra
Selecciona el número de la unidad de origen: 1
Selecciona el número de la unidad de destino: 10
Ingresa el valor en Joule: 1000
1,000.00 Joule equivale a 1,355.82 Pie-libra

** Menú de Conversores **
1. Conversión de monedas
2. Conversión de masa
3. Conversión de volumen
4. Conversión de longitud
5. Conversión de almacenamiento
6. Conversión de tiempo
7. Conversión de área
8. Conversión de energía
9. Volver al menú principal

SUELDO NETO Y REDUCCION

TARIFA DE AGUA