<a href="https://colab.research.google.com/github/walter0511/progra_III_2025/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo")
print("No estoy listo para este ciclo")

Hola Mundo
No estoy listo para este ciclo

In [ ]:
 nombre = "Walter Benavides"
 edad = 5
 print (nombre, edad)

 edad = "cinco"
 print ("tu edad: ", edad)

Walter Benavides 5
tu edad:  cinco

In [ ]:
num1 = 5
num2 = 8.9
suma = num1 + num2
print ("la suma es: ", suma)

la suma es:  13.9

In [ ]:
num1 = float(input("num1: "))
num2 = float(input("num2: "))
suma = num1 + num2
print ("la suma es:", suma)

num1: 2
num2: 3
la suma es: 5.0

In [ ]:
num1 = float(input("num1: "))
num2 = float(input("num2: "))
resta = num1 - num2
print ("la resta es:", resta)

num1: 2
num2: 3
la resta es: -1.0

TIPOS DE DATOS DE PYTHON

In [5]:
#entero
num1 = 6
print(num1, "Esto es un numero entero")
print (str (num1) + " Esto es un numero entero")

#decimal
num2 = 7.5
print(num2, "Esto es un numero decimal")

#Booleano
esMayor = True
print(esMayor, "Esto es un valor booleano")

#cadena
nombre = "Walter Benavides"
print(nombre, "Esto es una cadena")

print (nombre,"Letra inicial", nombre[0],"Un valor especifico", nombre[6],"Rango", nombre [0:4],"Comenzar desde el final", nombre[-1])
print ( nombre[5:len(nombre)], nombre[:4] )
print (type(nombre))

6 Esto es un numero entero
6 Esto es un numero entero
7.5 Esto es un numero decimal
True Esto es un valor booleano
Walter Benavides Esto es una cadena
Walter Benavides Letra inicial W Un valor especifico   Rango Walt Comenzar desde el final s
r Benavides Walt
<class 'str'>

In [9]:
#Fecha
from datetime import datetime, date, time
fecha = datetime.now()
print(fecha, fecha.date(), fecha.time())
print(type(fecha))

fechapersonalizada = date(2025,8,1)
print(fechapersonalizada)

fecha = "2025-08-08"
fecha = datetime.strptime(fecha, "%Y-%m-%d")
print(fecha)

print( fecha.strftime("%d/%m/%Y"), "Regresamos a clases")

fechaNac = input("Dime tu fecha de nacimiento en formato d-m-Y: ")
fechaNac = datetime.strptime(fechaNac, "%d-%m-%Y")
print(fechaNac)

2025-07-28 14:06:31.410682 2025-07-28 14:06:31.410682
<class 'datetime.datetime'>
2025-08-01
2025-08-08 00:00:00
08/08/2025 Regresamos a clases
Dime tu fecha de nacimiento en formato d-m-Y: 07-11-2005
2005-11-07 00:00:00