<a href="https://colab.research.google.com/github/walter0511/progra_III_2025/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo")
print("No estoy listo para este ciclo")

Hola Mundo
No estoy listo para este ciclo

In [ ]:
 nombre = "Walter Benavides"
 edad = 5
 print (nombre, edad)

 edad = "cinco"
 print ("tu edad: ", edad)

Walter Benavides 5
tu edad:  cinco

In [ ]:
num1 = 5
num2 = 8.9
suma = num1 + num2
print ("la suma es: ", suma)

la suma es:  13.9

In [ ]:
num1 = float(input("num1: "))
num2 = float(input("num2: "))
suma = num1 + num2
print ("la suma es:", suma)

num1: 2
num2: 3
la suma es: 5.0

In [ ]:
num1 = float(input("num1: "))
num2 = float(input("num2: "))
resta = num1 - num2
print ("la resta es:", resta)

num1: 2
num2: 3
la resta es: -1.0

TIPOS DE DATOS DE PYTHON

In [ ]:
#entero
num1 = 6
print(num1, "Esto es un numero entero")
print (str (num1) + " Esto es un numero entero")

#decimal
num2 = 7.5
print(num2, "Esto es un numero decimal")

#Booleano
esMayor = True
print(esMayor, "Esto es un valor booleano")

#cadena
nombre = "Walter Benavides"
print(nombre, "Esto es una cadena")

print (nombre,"Letra inicial", nombre[0],"Un valor especifico", nombre[6],"Rango", nombre [0:4],"Comenzar desde el final", nombre[-1])
print ( nombre[5:len(nombre)], nombre[:4] )
print (type(nombre))

6 Esto es un numero entero
6 Esto es un numero entero
7.5 Esto es un numero decimal
True Esto es un valor booleano
Walter Benavides Esto es una cadena
Walter Benavides Letra inicial W Un valor especifico   Rango Walt Comenzar desde el final s
r Benavides Walt
<class 'str'>

In [ ]:
#Fecha
from datetime import datetime, date, time
fecha = datetime.now()
print(fecha, fecha.date(), fecha.time())
print(type(fecha))

fechapersonalizada = date(2025,8,1)
print(fechapersonalizada)

fecha = "2025-08-08"
fecha = datetime.strptime(fecha, "%Y-%m-%d")
print(fecha)

print( fecha.strftime("%d/%m/%Y"), "Regresamos a clases")

fechaNac = input("Dime tu fecha de nacimiento en formato d-m-Y: ")
fechaNac = datetime.strptime(fechaNac, "%d-%m-%Y")
print(fechaNac)

2025-07-28 14:06:31.410682 2025-07-28 14:06:31.410682
<class 'datetime.datetime'>
2025-08-01
2025-08-08 00:00:00
08/08/2025 Regresamos a clases
Dime tu fecha de nacimiento en formato d-m-Y: 07-11-2005
2005-11-07 00:00:00

FUNCIONES EN PYTHON

In [ ]:
def suma(num1, num2):
  return num1 + num2

In [ ]:
print("La suma de 5 + 8 = ", suma(5,8))

La suma de 5 + 8 =  10.0

In [ ]:
num1 = float(input("num1: "))
num2 = float(input("num2: "))
respuesta = suma(num1,num2)
print ("la suma es:", respuesta)

num1: 2
num2: 3
la suma es: 5.0

In [ ]:
def resta(num1, num2):
  return num1 - num2

num1 = float(input("ingrese el primer numero: "))
num2 = float(input("ingrese el segundo numero: "))
respuesta = resta(num1,num2)
print ("la resta es:", respuesta)

ingrese el primer numero: 2
ingrese el segundo numero: 2
la resta es: 0.0

In [ ]:
#Hacer un ejercicios e python haciendo uso de las funciones de usuario, que convierta grados celcius a farenheit.

In [ ]:
def celciusFarenheit(c):
  return c*1.8 + 32
c = int (input("Grados c: "))
f = celciusFarenheit(c)
print("F:", f)

Grados c: 38
F: 100.4

In [ ]:
#Hacer un ejercicios e python haciendo uso de las funciones de usuario, que convierta grados farenheit a celcius.

In [ ]:
def FarenheitCelcius(f):
  return (f-32) * 5/9
f = float(input("Grados f: "))
c = FarenheitCelcius(f)
print("C:", c)

Grados f: 100.4
C: 38.0

In [ ]:
#Hacer un ejercicios e python haciendo uso de las funciones de usuario, que convierta grados celcius a Kalvin

In [ ]:
def CelciusKalvin(c):
  return (c + 273.15)
c = float(input("Grados c: "))
k = CelciusKalvin(c)
print("K:", k)

Grados c: 32
K: 305.15

In [ ]:
 #hacer ejercicio de python haciendo uso de funciones de usuario, que calcule
 #el sueldo de u empleado, segun el numero de hrs trabajadas y el valor por hora

In [42]:
def sueldo(numHrs, valorXhr):
  sueldo = numHrs * valorXhr * 30
  return sueldo

In [44]:
numHrs = float(input("Horas trabajadas: "))
valorXhr = float(input("Valor por hora: "))
sueldo = sueldo(numHrs, valorXhr)
print("Sueldo: ", sueldo)

Horas trabajadas: 5
Valor por hora: 3
Sueldo:  450.0

In [ ]:
 #hacer ejercicio de python haciendo uso de funciones de usuario, que permta elevar un numero a un exponete

In [46]:
def expoenciacion (b,e):
  return b ** e

b = float(input("Base: "))
e = float(input("Exponente: "))

respuesta = expoenciacion(b,e)
print("El numero: ",b, "elevado a", e,"La respuesta es: ", respuesta)

Base: 8
Exponente: 3
El numero:  8.0 elevado a 3.0 La respuesta es:  512.0